.html, body{
    font-family: proxima-nova,  Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.sm-heading{
    font-size: .8rem;
}

.md-heading{
    font-size: 1.1rem
}

.md-text{
    font-size: .7rem;
}

