.navbar{
    height: 60px;
    background-color: #343347;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}

.navbar-light .navbar-nav{
    &.nav-link,
    &.active>.nav-link{
        color: white;
    }
}

.navbar-nav .nav-link{
    padding: 2px;
}

#menu-icon{
    &:hover {
        cursor: pointer;
    }
    & #hamburger {
        position:absolute;
        left: 40px;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 4px;
        width: 30px;
        background-color: white;
        transition: all .3s;
        border-radius: 10px;

            &:before {
                position:absolute;
                content: '';
                height: 4px;
                width: 30px;
                top: -8px;
                background-color: white;
                transition: all .4s;
                border-radius: 10px;
            };
            &:after {
                position:absolute;
                content: '';
                height: 4px;
                width: 30px;
                top: 8px;
                background-color: white;
                transition: all .3s;
                border-radius: 10px;
            }
    }  
}
