{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <section class="col-11 card checkout-card">
            <!-- show maint request to pay -->
            <div class="row card-header mb-3">
                <h1 class="md-heading mb-0">Checkout</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 col-sm-4">
                    <img src="{{ payment_to_pay.maint_request.image.url }}" class="img-responsive img-rounded check-img m-0" alt="maint-img">
                </div>
                <div class="col-4 pl-0">
                    <h6 class="md-text bold">Reference</h6>
                    <p class="md-text">#{{ payment_to_pay.maint_request.id }}&nbsp;- {{ payment_to_pay.maint_request.title }}</p>
                    <hr class="m-1">
                    <p class="d-inline md-text bold">Total to pay:&nbsp;</p>
                    <p class="d-inline md-text">£{{ payment_to_pay.amount }}</p>
                </div>
            </div>
            <!-- END: maint request to pay -->
            <hr>
            <!-- checkout form -->
            <div class="row justify-content-center">
                <form class="" action="" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="form-group justify-content-center m-0">
                        <div class="row justify-content-center">
                            <div class="col-11 form-m-0 md-text">
                                <div id="credit-card-errors">
                                    <div id="stripe-error-message"></div>
                                </div>
                                {{ payment_form|crispy }}
                            </div>
                            <button class="btn btn-md btn-outline-info m-2" type="submit">Submit Payment</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END: checkout form -->
        </section>
    </div>
</div>

{% endblock %}