.sm-heading {
  font-size: .8rem;
}

.md-heading {
  font-size: 1.1rem;
}

.md-text {
  font-size: .7rem;
}

.navbar {
  height: 50px;
  background-color: #343347;
}

.navbar-light .navbar-nav.nav-link,
.navbar-light .navbar-nav.active > .nav-link {
  color: white;
}

.navbar-nav .nav-link {
  padding: 2px;
}

#menu-icon:hover {
  cursor: pointer;
}

#menu-icon #hamburger {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
}

#menu-icon #hamburger:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 30px;
  top: -8px;
  background-color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 10px;
}

#menu-icon #hamburger:after {
  position: absolute;
  content: '';
  height: 4px;
  width: 30px;
  top: 8px;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
}

#sidebar {
  position: absolute;
  display: block;
  width: 60px;
  left: -60px;
  top: 0;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008161), color-stop(23%, #2f5f5b), to(#343347));
  background-image: linear-gradient(0deg, #008161 0%, #2f5f5b 23%, #343347 100%);
  color: #FAFAFA;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#sidebar.show-sidebar {
  left: 0px;
  /* transition: all .3s; */
}

.sidebar-menu {
  padding: 0;
  text-align: center;
}

.sidebar-image {
  height: 50px;
  border-bottom: 1px solid white;
}

.sidebar-item {
  list-style: none;
  margin: 15px 0px;
}

.sidebar-icon {
  height: 2.5rem;
}

.sidebar-icon-sm {
  height: 3rem;
}

.user-form {
  margin: 2rem 0px;
}

.house-img {
  max-width: 8rem;
}

.landlord-img {
  max-width: 3rem;
}

.landlord-sect {
  margin-top: 1rem;
}

.card-top-color {
  position: absolute;
  height: 6rem;
  width: 100%;
  background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
  height: 40px;
}

.line-shadow {
  position: relative;
  top: 5px;
  max-height: 21rem;
}

.float {
  position: relative;
  top: 45px;
  left: 1.8rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 6px 0px #ccc;
          box-shadow: 0px 5px 6px 0px #ccc;
}

@media screen and (max-width: 767px) {
  .float {
    left: 0%;
  }
}

@media screen and (max-width: 575px) {
  .float {
    left: 0%;
    top: 5px;
    border-top: .05rem solid #bbb;
  }
}

@media screen and (max-width: 575px) {
  .ten-lan-sect {
    min-height: 14rem;
  }
}

#tenant-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.tenant-name {
  line-height: 1rem;
}

.maint-list-item {
  list-style: none;
  border: 1px solid #c5bfbf;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.maint-img {
  width: 5rem;
  margin: 10px;
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

#home-maint-list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
      grid-template-areas: "home-maint-img home-maint-info" "home-maint-status home-maint-status";
}

@media screen and (min-width: 768px) {
  #home-maint-list-item {
    -ms-grid-columns: 20% 40% 40%;
        grid-template-columns: 20% 40% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "home-maint-img home-maint-info home-maint-status";
  }
}

@media screen and (min-width: 900px) {
  #home-maint-list-item {
    -ms-grid-columns: 15% 35% 40%;
        grid-template-columns: 15% 35% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "home-maint-img home-maint-info home-maint-status";
  }
}

#home-maint-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-maint-img;
}

#home-maint-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: home-maint-info;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#home-maint-status {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: home-maint-status;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=main.css.map */