.html, body {
  font-family: proxima-nova,  Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.sm-heading {
  font-size: .8rem;
  margin: 5px;
}

.md-heading {
  font-size: 1.1rem;
}

.lg-heading {
  font-size: 1.8rem;
}

.label-heading {
  font-size: 1.6rem;
}

.md-text {
  font-size: .8rem;
}

.bold {
  font-weight: 600;
}

.badge-lg {
  padding: .8em 1.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
}

.badge-md {
  padding: .5em 1em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
}

.badge-success {
  color: #0d5610;
  background: rgba(76, 175, 80, 0.3);
  border: 1px solid #0d5610;
}

table .badge-success {
  border: none;
}

.badge-danger {
  color: #b10030;
  background: rgba(224, 19, 19, 0.3);
  border: 1px solid #dc0000;
}

.badge-info {
  color: #0e0e0e;
  border: 1px solid #0066754d;
  background-color: rgba(17, 195, 185, 0.3);
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
  border: 1px solid black;
}

.badge-amber {
  color: #9c6f06;
  background: rgba(224, 125, 19, 0.3);
  border: 1px solid #dc9600;
}

.card-top-color {
  position: absolute;
  height: 6rem;
  width: 100%;
  background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
  height: 50px;
  color: white;
}

.checkout-card {
  max-width: 30rem;
}

.btn {
  -webkit-box-shadow: 2px 3px 3px #898989;
          box-shadow: 2px 3px 3px #898989;
}

.btn-sm {
  padding: 0px 5px;
  font-size: .8rem;
}

.btn-md {
  font-size: .8rem;
  padding: .275rem .5rem;
}

.form-m-0 .form-group {
  margin-bottom: 0px;
}

.form-control {
  height: 1.8rem;
  font-size: .8rem;
}

.form-height {
  height: 1.8rem !important;
}

option {
  font-size: .8rem;
}

.col-form-label {
  font-size: .8rem;
}

.select {
  height: 1.8rem !important;
}

.clearablefileinput,
#div_id_invoice_pdf {
  font-size: .8rem;
}

.navbar {
  height: 60px;
  background-color: #343347;
}

.navbar-light .navbar-nav.nav-link,
.navbar-light .navbar-nav.active > .nav-link {
  color: white;
}

.navbar-nav .nav-link {
  padding: 2px;
}

#menu-icon:hover {
  cursor: pointer;
}

#menu-icon #hamburger {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
}

#menu-icon #hamburger:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 30px;
  top: -8px;
  background-color: white;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 10px;
}

#menu-icon #hamburger:after {
  position: absolute;
  content: '';
  height: 4px;
  width: 30px;
  top: 8px;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
}

#sidebar {
  position: absolute;
  display: block;
  width: 60px;
  left: -60px;
  top: 0;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008161), color-stop(23%, #2f5f5b), to(#343347));
  background-image: linear-gradient(0deg, #008161 0%, #2f5f5b 23%, #343347 100%);
  color: #FAFAFA;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#sidebar.show-sidebar {
  left: 0px;
  /* transition: all .3s; */
}

.sidebar-menu {
  padding: 0;
  text-align: center;
}

.sidebar-image {
  height: 60px;
  border-bottom: 1px solid white;
}

.sidebar-item {
  list-style: none;
  margin: 15px 0px;
}

.sidebar-icon {
  height: 2.5rem;
}

.sidebar-icon-sm {
  height: 3rem;
}

.profile-icon {
  width: 3rem;
  margin: 5px 0;
}

.user-form {
  margin: 2rem 0px;
}

.house-img {
  max-width: 8rem;
  -webkit-box-shadow: 2px 2px 4px 1px #333;
          box-shadow: 2px 2px 4px 1px #333;
}

.landlord-img {
  max-width: 3rem;
  -webkit-box-shadow: 2px 2px 4px 1px #333;
          box-shadow: 2px 2px 4px 1px #333;
}

.landlord-sect {
  margin-top: 1rem;
}

.line-shadow {
  position: relative;
  top: 5px;
  max-height: 21rem;
}

.float {
  position: relative;
  top: 45px;
  left: 1.8rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 6px 0px #ccc;
          box-shadow: 0px 5px 6px 0px #ccc;
}

@media screen and (max-width: 767px) {
  .float {
    left: 0%;
  }
}

@media screen and (max-width: 575px) {
  .float {
    left: 0%;
    top: 5px;
    border-top: .05rem solid #bbb;
  }
}

@media screen and (max-width: 575px) {
  .ten-lan-sect {
    min-height: 18rem;
  }
}

#tenant-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.tenant-name {
  line-height: 1rem;
}

.maint-list-item {
  border: 1px solid #c5bfbf;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.maint-img {
  width: 5rem;
  margin: 10px;
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

#home-maint-list-item {
  display: -ms-grid;
  display: grid;
  min-height: 100px;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
      grid-template-areas: "home-maint-img home-maint-info" "home-maint-status home-maint-status";
}

@media screen and (min-width: 768px) {
  #home-maint-list-item {
    -ms-grid-columns: 20% 35% 45%;
        grid-template-columns: 20% 35% 45%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "home-maint-img home-maint-info home-maint-status";
  }
}

@media screen and (min-width: 900px) {
  #home-maint-list-item {
    -ms-grid-columns: 15% 35% 50%;
        grid-template-columns: 15% 35% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "home-maint-img home-maint-info home-maint-status";
  }
}

#home-maint-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-maint-img;
}

#home-maint-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: home-maint-info;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

@media screen and (min-width: 900px) {
  #home-maint-info {
    margin-left: 5px;
  }
}

#home-maint-status {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: home-maint-status;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.jumbotron {
  background-color: #343347;
  color: white;
}

.account-top-color {
  left: 0;
  height: 10rem;
}

.account-info-list {
  list-style: none;
  line-height: 1.5rem;
  padding: 2rem 2rem 0 0;
}

@media screen and (max-width: 575px) {
  .account-info-list {
    color: black;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .account-info-list {
    margin-left: 1rem;
  }
}

.account-img {
  margin-top: .8rem;
  padding: .5rem;
  max-width: 12rem;
  -webkit-box-shadow: 2px 2px 4px 1px #333;
          box-shadow: 2px 2px 4px 1px #333;
}

.account-edit-btn {
  margin: .7rem;
}

@media screen and (max-width: 575px) {
  .account-edit-btn {
    margin: .7rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .account-edit-btn {
    margin: .7rem;
  }
}

.edit-confirm-btn {
  margin: .4rem;
}

.max-card {
  max-width: 950px;
}

.request-toggle {
  padding: .5rem;
  position: relative;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin: 0.4rem;
  max-width: 280px;
}

.request-toggle-item {
  position: relative;
  z-index: 99;
  margin: 0 2rem;
  text-decoration: none;
  color: black;
}

.request-toggle-item:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#request-toggle-switch {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 123px;
  border-radius: 5px;
  height: 30px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px 2px #ccc;
          box-shadow: 2px 2px 3px 2px #ccc;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#request-toggle-switch.toggle-switch {
  left: 135px;
}

#message-view {
  display: none;
}

.check-img {
  width: 7rem;
  margin: 10px;
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

@media screen and (min-width: 576px) {
  .check-img {
    width: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */