{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <!-- add payment -->
    <div class="row justify-content-center">
        <div class="card max-card col-11">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <div class="form-group justify-content-center m-0">
                    <legend class="border-bottom mb-1">Add Payment</legend>
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-6 form-m-0">{{ payment_form.maint_request|as_crispy_field }}</div>
                        <div class="col-5 col-sm-3 form-m-0">{{ payment_form.amount|as_crispy_field }}</div>
                        <div class="col-4 col-sm-2 p-sm-0 pl-md-2 align-self-end">
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
    <!-- end add payment -->
    <!-- payment history list -->
    <div class="row justify-content-center mt-3">
        <div class="card max-card col-11 p-0">
            <table class="table table-striped md-text text-center m-0">
                <thead>
                    <tr>
                    <th scope="col">Ref</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action/Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payment_list %}
                        <tr>
                        <td>#{{ payment.maint_request.id }}</td>
                        <td>{{ payment.payment_date.date }}</td>
                        <td>£{{ payment.amount }}</td>
                        {% if payment.is_paid %}
                            <td class="text-center">
                                <span class="badge-lg badge-success">Paid</span>
                            </td>
                        {% else %}
                            <td class="text-center">
                                <button class="btn btn-sm btn-success">Pay</button>
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- end payment history list -->
</div>

{% endblock %}