.author-bg{
    background-color: #d8efd8;
    margin: 5px 0px 5px 0px;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 5px -4px #000;
    border-radius: 9px;
}

.receivers-bg{
    background-color: #ecf6ff;
    margin: 5px 0px 5px 0px;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 5px -4px #000;
    border-radius: 9px;
}

.date-posted{
    position: absolute;
    bottom: 0;
}