.error-bg{
    background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.error-heading{
    font-size:  4rem;
}