
.house-img{
    max-width: 8rem;
}

.landlord-img{
    max-width: 3rem;
}

.landlord-sect{
    margin-top: 1rem;
}


.card-top-color{
    position: absolute;
    height: 6rem;
    width: 100%;
    background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.card-header{
    background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
    height: 40px;
}

.line-shadow{
    position: relative;
    top: 5px;
    max-height: 21rem;
}

.float{
    position: relative;
    top: 45px;
    left: 1.8rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 6px 0px #ccc;
    @include mobile-tablet-device{
        left: 0%;
    }
    @include mobile-device{
        left: 0%;
        top: 5px;
        border-top: .05rem solid #bbb;
    }
}

.ten-lan-sect{
    @include mobile-device{
        min-height: 14rem;
    }
}

#tenant-info{
    display: grid;
    grid-template-columns: auto auto;
}

.tenant-name{
    line-height: 1rem;
}

.maint-list-item{
    list-style: none;
    height: 90px;
    border: 1px solid black;
}

.maint-img{
    width: 4rem;
}

#home-maint-list-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "home-maint-img home-maint-info"
    "home-maint-status home-maint-status";
    @include tablet-up{
        grid-template-columns: 15% 45% 40%;
        grid-template-areas: 
        "home-maint-img home-maint-info home-maint-status"
    }
}

#home-maint-img{
    grid-area: home-maint-img;
}

#home-maint-info{
    grid-area: home-maint-info;
}

#home-maint-status{
    grid-area: home-maint-status;
}