
.house-img{
    max-width: 8rem;
}

.landlord-img{
    max-width: 5rem;
}

.landlord-sect{
    margin-top: 1rem;
}


.card-top-color{
    position: absolute;
    height: 50px;
    width: 100%;
    background: linear-gradient(135deg, #32bdba 0%, #7fcd7f 100%);
}