{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-10">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row justify-content-center m-0">
                <legend class="border-bottom mb-4">Account Update</legend>
                <div class="col-6">{{ user_form.first_name|as_crispy_field }}</div>
                <div class="col-6">{{ user_form.last_name|as_crispy_field }}</div>
                <div class="col-12">{{ user_form.email|as_crispy_field }}</div>
                <div class="col-12">{{ profile_form|crispy }}</div>
            </div>
            <div class="row justify-content-end m-2">
                <a class="edit-confirm-btn btn btn-sm btn-outline-info">Confirm Edit</a>
            </div>
        </form>
    </div>
</div>