{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% include 'users/_profile.html' %}
    </div>
    {% if user.profile.register_as == 'Landlord' %}
        <div class="row justify-content-center">
            {% include 'users/_property.html' %}
        </div>
    {% endif %}
</div>

<!-- alert modal for messages -->
<div id="edit-profile-alert">
    {% if messages %}
    <h3 class="alert-header md-heading m-2">SUCCESS!</h3>
    <ul class="alert-list mb-2">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


{% endblock %}

