{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <!-- user profile section -->
    <div class="row justify-content-center">
        {% include 'users/profile.html' %}
    </div>
    <!-- END:  user profile section -->

    <!-- if user is a landlord then show rental property profile -->
    {% if user.profile.register_as == 'Landlord' %}
        <div class="row justify-content-center">
            {% include 'users/property.html' %}
        </div>
    {% endif %}
    <!-- END: rental property profile -->
</div>


{% endblock %}

