{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-11 col-md-10 col-lg-8 mt-3">
            <div class="card-top-color account-top-color"></div>
            <div class="row">
                <div class="col-12 col-sm-5 text-center">
                    <img src="{{ user.profile.profile_image.url }}" alt="Prof" class="account-img rounded-circle img-fluid">
                </div>
                <div class="col-12 col-sm-6 p-0">
                    <hr class="m-1 d-sm-none">
                    <div class="row justify-content-center m-0">
                        <ul class="account-info-list">
                            <li>{{ user.first_name }}&nbsp;{{ user.last_name }}</li>
                            <li>{{ user.email }}</li>
                        </ul>
                    </div>
                    <hr class="m-1 d-sm-none">
                </div>
                <div class="col-12 text-right">
                    <button id="edit-btn" class="account-edit-btn btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#edit-collapse" aria-expanded="false" aria-controls="edit-collapse">Edit</button>
                </div>
            </div>
            <div id="edit-collapse" class="row account-edit-section collapse">
                <div class="col-12">
                <hr class="m-1 d-none d-sm-block">
                    <p>EDIT SECTION</p>
                    <div class="row justify-content-end">
                        <a class="edit-confirm-btn btn btn-sm btn-outline-info">Confirm Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

