<!-- add tenant modal -->

<div id="addModal" class="modal">
        <div class="overlay"></div>
        <div class="modal-content col-10 col-sm-5">
            <div class="col-12 text-left">
                <h2 class="lg-heading">Add tenant</h2>
            </div>
            <hr class="m-1">
            <div class="col-12">
                <p class="md-text">
                    Add form to add tenant
                </p>
            </div>
            <hr class="m-1">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-md btn-secondary modal-close m-1">Close</button>
                <a id="remove-tenant" href="" type="button" class="btn btn-md btn-primary m-1">Confirm</a>                
            </div>
        </div>
    </div>