{% extends 'base_registration.html' %}
{% load crispy_forms_tags %}
{% block form %}
<section class="row justify-content-center">
    <div class="card col-10 col-sm-6 user-form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <legend class="text-center mb-2 p-1">Login</legend>
                <div class="col-11">{{ form|crispy }}</div>
                <a href="{% url 'password_reset' %}" class="md-text text-muted text-decoration-none">Reset password</a>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-7">
                    <small>Don't have an account?<a href="{% url 'register' %}">&nbsp;Register</a></small>
                </div>
                <div class="col-4 text-right">
                    <button class="btn btn-info btn-md" type="submit">Submit</button>        
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}  


