{% load crispy_forms_tags %}

<div class="card col-11 mb-3">
    <div class="row">
        <!-- user profile info -->
        <div class="col-12 card-header">
            <h1 class="md-heading">Profile Information</h1>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <img src="{{ user.profile.profile_image.url }}" alt="Prof" class="account-img rounded-circle img-fluid">
        </div>
        <div class="col-12 col-sm-6 p-0">
            <hr class="m-1 d-sm-none">
            <div class="row justify-content-center justify-content-sm-start m-0">
                <ul class="account-info-list">
                    <li>{{ user.first_name.title }}&nbsp;{{ user.last_name.title }}</li>
                    <li class="md-text">{{ user.email }}</li>
                    <hr>
                    <li class="md-text">
                        <p class="m-0 bold">Account Mode</p>
                        <p class="m-0">{{ user.profile.register_as }}</p>
                    </li>
                </ul>
            </div>
            <hr class="m-1 d-sm-none">
        </div>
        <div class="col-12 text-right p-0">
            <button id="edit-btn" class="account-edit-btn btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#edit-collapse" aria-expanded="false" aria-controls="edit-collapse">Edit</button>
        </div>
        <!-- END: user profile info -->
    </div>
        <!-- edit profile form -->
    <div id="edit-collapse" class="row account-edit-section collapse">
        <div class="col-12">
        <hr class="m-1 d-none d-sm-block">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10">
                    <form action="{% url 'account' id=user.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row justify-content-center m-0">
                            <legend class="border-bottom mb-4">Account Update</legend>
                            <div class="col-12 col-sm-6">{{ user_update_form.first_name|as_crispy_field }}</div>
                            <div class="col-12 col-sm-6">{{ user_update_form.last_name|as_crispy_field }}</div>
                            <div class="col-12">{{ user_update_form.username|as_crispy_field }}</div>
                            <div class="col-12">{{ user_update_form.email|as_crispy_field }}</div>
                            <div class="col-12">{{ profile_img_form|crispy }}</div>
                            <div class="col-12">{{ user_update_form.errors }}</div>
                        </div>
                        <div class="row justify-content-end m-2">
                            <button class="edit-confirm-btn btn btn-sm btn-outline-info" name="profile" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END: profile form -->
    </div>
</div>

