{% load crispy_forms_tags %}


<div class="card col-11 mt-3 mb-3">
    <div class="row">
        <div class="col-12 card-header">
            <h1 class="md-heading">Property Information</h1>
        </div>
        <!-- if user does/does not have a property -->
        {% if user.profile.rental == false %}
        <div class="col-12 jumbotron text-center m-0">
            <h1 class="lg-heading">Add a Property</h1>
        </div>
        <div class="col-12 text-right m-0 p-0">
            <button id="edit-btn" class="account-edit-btn btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#edit-property-collapse" aria-expanded="false" aria-controls="edit-property-collapse">Add</button>
        </div>
    

        {% else %}
        <!-- user property info -->
        <div class="col-12 col-sm-6 text-center">
            <img src="{{ user.profile.rental.image.url }}" alt="Property" class="account-img rounded-circle img-fluid">
        </div>
        <div class="col-12 col-sm-6 p-0">
            <hr class="m-1 d-sm-none">
            <div class="row justify-content-center justify-content-sm-start m-0">
                <ul class="account-info-list">
                    <li>{{ user.profile.rental.address.title }}</li>
                    <li>{{ user.profile.rental.postcode|upper }}</li>
                    <li>{{ user.profile.rental.city.title }}</li>
                    <hr>
                </ul>
            </div>
            <hr class="m-1 d-sm-none">
        </div>
        <div class="col-12 text-right">
            <button id="edit-btn" class="account-edit-btn btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#edit-property-collapse" aria-expanded="false" aria-controls="edit-property-collapse">Edit</button>
        </div>
        {% endif %}
    </div>
        <!-- END: user property info -->

    <!-- add/edit property form -->
    <div id="edit-property-collapse" class="row account-edit-section collapse">
        <div class="col-12">
        <hr class="m-1 d-none d-sm-block">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-10">
                    <form action="{% url 'account' id=user.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row justify-content-center m-0">
                            <legend class="border-bottom mb-4">Property Update</legend>
                            <div class="col-12">{{ rental_form.address|as_crispy_field }}</div>
                            <div class="col-12 col-sm-6">{{ rental_form.city|as_crispy_field }}</div>
                            <div class="col-12 col-sm-6">{{ rental_form.postcode|as_crispy_field }}</div>
                            <div class="col-12">{{ rental_form.no_of_tenants|as_crispy_field }}</div>
                            <div class="col-12">{{ rental_form.image|as_crispy_field }}</div>    
                        </div>
                        <div class="row justify-content-end m-2">
                            <button class="edit-confirm-btn btn btn-sm btn-outline-info" name="rental" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END: property form -->
    </div>
</div> 
    