{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_tags.html' %}

</head>
<body>
    <header>
            <nav class="navbar navbar-expand navbar-light">
                <div id="menu-icon">
                    <div id="hamburger"></div>
                </div>
                <div class="ml-auto" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <img src="{% static 'imgs/tenant_share_white.png' %}" class="nav-img" alt="logo">
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'account' id=user.id %}"><img src="https://i.ibb.co/17QHq7M/imageedit-10-9608538404.png" alt="imageedit-10-9608538404" border="0" class="sidebar-icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><img src="https://i.ibb.co/qrB54FG/imageedit-1-8712178148.png" alt="imageedit-1-8712178148" border="0" class="sidebar-icon"></a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <main id='content'>
        {% block content %}
        {% endblock %}
    </main>
    <div id="sidebar">
        <div class="sidebar-image text-center">
            {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="Prof" class="profile-icon rounded-circle img-fluid">
            {% else %}
            <img src="/media/users/default_profile.jpg" alt="Prof" class="profile-icon rounded-circle img-fluid">
            {% endif %}
        </div>
        <ul class="sidebar-menu">
            <li class="sidebar-item"><a href="{% url 'maint-home' %}"><img src="https://i.ibb.co/1vjMj7h/imageedit-23-4235679998.png" alt="imageedit-23-4235679998" border="0" class="sidebar-icon"></a></li>
            <li class="sidebar-item"><a href="{% url 'maint-list' %}"><img src="https://i.ibb.co/dfBnvD0/imageedit-11-5190788362.png" alt="imageedit-11-5190788362" border="0" class="sidebar-icon-sm"></a></li>
            <li class="sidebar-item"><a href="{% url 'payments-list' %}"><img src="https://i.ibb.co/X7QC7F3/imageedit-3-6563832234.png" alt="imageedit-3-6563832234" border="0" class="sidebar-icon"></a></li>
        </ul>
    </div>
    
    <!-- spinner -->
    <div class="spinner">
        <img src="{% static 'animations/500.gif' %}" alt="">
    </div>
    
    {% include 'alert_messages.html' %}

    {% include 'confirm_modal.html' %}

    {% include 'scripts.html' %}
</body>
</html>