<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    {% include 'head_tags.html' %}

    <title>Document</title>
</head>
<body>
    <main class="container-fluid register-bg">
        <section class="row justify-content-center">
            <div class="col-10 text-center">
                <img src="{% static 'imgs/tenant_share_white.png' %}" class="company-img" alt="logo">
                <h1 class="slogan mb-3">Taking the hassle out of house sharing</h1>
                <p class="intro">
                    Owning or renting a property as a house share or HMO can often lead to the
                    property falling into disrepair.
                </p>
                <p class="intro">
                    Tenant Share provides a central hub for landlord and tenants to communicate any maintenance
                    issues that may arise.
                </p>
            </div>
        </section>

        {% block form %}{% endblock %}
    </main>

    <!-- spinner -->
    <div class="spinner">
        <img src="{% static 'animations/500.gif' %}" alt="">
    </div>
    <!-- END: spinner -->

    {% include 'scripts.html' %}
</body>
</html>