<!-- delete tenant modal -->

<div id="confirm-modal" class="modal">
    <div class="overlay"></div>
    <div class="modal-content remove-modal-content col-10 col-sm-5">
        <div class="col-12 text-left">
            <h2 id="title" class="md-heading bold"></h2>
        </div>
        <hr class="m-1">
        <div class="col-12">
            <p id="message" class="md-text"></p>
        </div>
        <hr class="m-1">
        <div class="row justify-content-end m-0">
            <button id="modal-close" type="button" class="btn btn-md btn-secondary modal-close m-1">Close</button>
            <a id="delete-confirm" href="" type="button" class="btn btn-md btn-primary m-1">Confirm</a>                
        </div>
    </div>
</div>