// screeen sizes
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 900px;
$large-desktop-width: 1200px;
$xlarge-desktop-width: 1800px;
$fourK-width: 3000px;


// All mixins/media queries        
// media queries
@mixin mobile-device{
    @media screen and (max-width: $mobile-width - 1px){
        @content;
    }
}

@mixin mobile-tablet-device{
    @media screen and (max-width: $tablet-width - 1px){
        @content;
    }
}

@mixin large-mobile-device{
    @media screen and (min-width: $mobile-width) and (max-width: $tablet-width - 1px){
        @content;
    }
}

@mixin mobile-up{
    @media screen and (min-width: $mobile-width){
        @content;
    }
}

@mixin tablet-device{
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px){
        @content;
    }
}

@mixin tablet-up{
    @media screen and (min-width: $tablet-width){
        @content;
    }
}

@mixin all-desktop-devices{
    @media screen and (min-width: $desktop-width){
        @content;
    }
}

@mixin desktop-device{
    @media screen and (min-width: $desktop-width) and (max-width: $large-desktop-width){
        @content;
    }
}

@mixin large-desktop-device{
    @media screen and (min-width: $large-desktop-width) and (max-width: $xlarge-desktop-width){
        @content;
    }
}

@mixin xlarge-desktop-device{
    @media screen and (min-width: $xlarge-desktop-width){
        @content;
    }
}

@mixin fourK-device{
    @media screen and (min-width: $fourK-width){
        @content;
    }
}