<!-- oustanding maintenance list -->
<div class="row justify-content-center">
    <div class="card col-10 mt-3">
        <div class="row">
            <div class="col-12 p-0">
                <h4 class="sm-heading card-header">Oustanding maintenance Requests</h4>
            </div>
            <div class="card-body col-12">
                <ul class="p-2">
                    <li id="home-maint-list-item" class="maint-list-item">
                        <div id="home-maint-img">
                            <img src="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Category_Pages/Appliances/free-standing-ranges-rng.png" class="img-fluid img-rounded maint-img" alt="">
                        </div>
                        <div id="home-maint-info">
                            <p>#121213</p>
                            <p>Kitchen Hob not working</p>        
                        </div>
                        <div id="home-maint-status">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>