<!-- oustanding maintenance list -->
<div class="row justify-content-center">
    <div class="card col-10 col-md-9 mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-12 p-0">
                <h4 class="sm-heading card-header">Oustanding maintenance Requests</h4>
            </div>
            <div class="card-body col-12 col-lg-11">
                <ul class="p-2">
                    <li id="home-maint-list-item" class="maint-list-item">
                        <div id="home-maint-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh3pSDxCrCgYcQyVm9-7g3Amrue_l1T1VSKLO5KufCtBUXso7e" class="img-fluid img-rounded maint-img" alt="">
                        </div>
                        <div id="home-maint-info">
                            <p class="md-text m-0"><b>#121213</b></p>
                            <p class="md-text m-0">Kitchen Hob not working</p>        
                        </div>
                        <div id="home-maint-status">
                            <hr class="m-0 d-md-none">
                            <div class="d-inline mr-1">
                                <p class="md-text d-inline">Priority</p>    
                                <span class="badge badge-danger">HIGH</span>
                            </div>
                            <div class="d-inline ml-1">
                                <p class="md-text d-inline">Status</p>
                                <span class="badge badge-info">PENDING</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>