<!-- oustanding maintenance list items -->
<div class="card-body col-12 col-lg-11">
    <ul class="p-2">
        <li id="home-maint-list-item" class="maint-list-item">
            <div id="home-maint-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh3pSDxCrCgYcQyVm9-7g3Amrue_l1T1VSKLO5KufCtBUXso7e" class="img-fluid img-rounded maint-img" alt="">
            </div>
            <div id="home-maint-info">
                <p class="md-text m-0"><b>#121213</b></p>
                <p class="md-text m-0">Kitchen Hob not working</p>   
                <a class="btn btn-sm btn-success" href="{% url 'maint-detail' %}">View</a>     
            </div>
            <div id="home-maint-status">
                <hr class="m-0 d-md-none">
                <div>
                    <div class="d-inline mr-1">
                        <p class="md-text d-inline">Priority</p>    
                        <span class="badge badge-danger">HIGH</span>
                    </div>
                    <div class="d-inline ml-1">
                        <p class="md-text d-inline">Status</p>
                        <span class="badge badge-info">PENDING</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>