<div class="row your-house justify-content-center">
    <div class="card col-11 p-0 mt-3 max-card">
        <div class="card-header"></div>
        {% if userProfile.register_as == 'Landlord' %}
            <h1>Landlord! Add a rental!</h1>
        {% else %}
            <div class="row m-0 jumbotron">
                <div class="col-12">
                    <h1>Next Step!</h1>
                    <p class="d-block">
                        Have your landlord/property manager add you onto the property account.
                    </p>        
                </div>
            </div>
        {% endif %}
    </div>
</div>
    