{% load crispy_forms_tags %}

<div class="col-12">
    <!-- status info row -->
    <div class="row m-0 justify-content-center">
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Status</p>
            <form action="" method="POST" name="status">
                {% csrf_token %}
                {{ status_form|crispy }}
            </form>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Priority</p>
            <span class="badge badge-lg badge-danger">{{ maint_request.priority }}</span>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Raised by</p>
            <span class="badge badge-lg badge-info">{{ maint_request.author }}</span>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Date</p>
            <span class="badge badge-lg badge-light">{{ maint_request.date_raised.date }}</span>
        </div>
    </div>
    <!-- end status info row -->
    <hr class="m-2">
    <!-- detail row -->
    <div class="row justify-content-center">
        <div class="col-12">
            <h4 class="md-heading">Title</h4>
            <p class="md-text">{{ maint_request.title }}</p>
            <hr>
        </div>
        <div class="col-12">
            <h4 class="md-heading">Details</h4>
            <p class="md-text">{{ maint_request.details }}</p>
            <hr>
        </div>
        <div class="col-12">
            <h4 class="md-heading">Photos</h4>          
            <div class="row justify-content-center">
                <div class="col-5">
                    <img src="{{ maint_request.image.url }}" class="img-fluid" alt="maint-photo-1">
                </div>
            </div>
            <hr>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h4 class="md-heading">Cost/Quote</h4>
                </div>
                {% if user.profile.register_as == 'Landlord' %}
                <div class="col-12">
                    <form class="row" action="" method="POST" enctype="multipart/form-data" name='cost'>
                        {% csrf_token %}
                        <label class="sm-heading col-12">Set cost and upload quote/invoice of work</label>
                        <div class="col-6 col-sm-3">{{ assign_cost_form.cost|as_crispy_field }}</div>
                        <div class="col-6 col-sm-3">{{ assign_cost_form.paid_by|as_crispy_field }}</div>
                        <div class="col-6 col-sm-4">
                                {{ assign_cost_form.invoice_pdf|as_crispy_field }}
                        </div>
                        <div class="col-6 col-sm-2 text-center align-self-center">
                            <button class="btn btn-md btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="col-12 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="md-text">Cost: £{{ maint_request.cost }}</p>
                        </div>
                        <div class="col-12">
                            <p class="md-text">
                                Invoice/Quote: <a class="btn btn-sm btn-primary" href="{{ maint_request.invoice_pdf.url }}" download="Invoice {{ maint_request.id}}">Download</a>
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="md-text">To be paid by {{ maint_request.paid_by }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end detail row -->
</div>