{% load crispy_forms_tags %}

<div class="col-12">
    <!-- status info row -->
    <div class="row m-0 justify-content-center">
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Status</p>
            <span class="badge badge-lg badge-success">{{ maint_request.status }}</span>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Priority</p>
            <span class="badge badge-lg badge-danger">{{ maint_request.priority }}</span>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Raised by</p>
            <span class="badge badge-lg badge-info">{{ maint_request.author }}</span>
        </div>
        <div class="col-5 col-sm-3 col-lg-2 text-center p-0 mb-2">
            <p class="md-text m-1">Date</p>
            <span class="badge badge-lg badge-light">{{ maint_request.date_raised.date }}</span>
        </div>
    </div>
    <!-- end status info row -->
    <hr class="m-2">
    <!-- detail row -->
    <div class="row justify-content-center">
        <div class="col-12">
            <h4 class="md-heading">Title</h4>
            <p class="md-text">{{ maint_request.title }}</p>
            <hr>
        </div>
        <div class="col-12">
            <h4 class="md-heading">Details</h4>
            <p class="md-text">{{ maint_request.details }}</p>
            <hr>
        </div>
        <div class="col-12">
            <h4 class="md-heading">Photos</h4>          
            <div class="row justify-content-center">
                <div class="col-5">
                    <img src="{{ maint_request.image.url }}" class="img-fluid" alt="maint-photo-1">
                </div>
            </div>
            <hr>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h4 class="md-heading">Cost/Quote</h4>
                </div>
                {% if user.profile.register_as == 'Landlord' %}
                <div class="col-12">
                    <form class="row" action="" method="POST">
                        {% csrf_token %}
                        <div class="col-4">{{ assign_cost_form.cost|as_crispy_field }}</div>
                        <div class="col-4">{{ assign_cost_form.paid_by|as_crispy_field }}</div>
                        <div class="col-4">{{ assign_cost_form.invoice_pdf|as_crispy_field }}</div>
                    </form>
                </div>
                {% else %}

                {% endif %}
            </div>
            <hr>
        </div>
    </div>
    <!-- end detail row -->
</div>