<div class="col-11">
    <div class="row m-0 justify-content-center">
        <div class="col-3 col-md-2 text-center">
            <p class="md-text m-1">Status</p>
            <span class="badge-lg badge-success">New</span>
        </div>
        <div class="col-3 col-md-2 text-center">
            <p class="md-text m-1">Priority</p>
            <span class="badge-lg badge-danger">High</span>
        </div>
        <div class="col-3 col-md-2 text-center">
            <p class="md-text m-1">Raised by</p>
            <span class="badge-lg badge-info">Bob</span>
        </div>
        <div class="col-3 col-md-2 text-center">
            <p class="md-text m-1">Date</p>
            <span class="badge-lg badge-light">19/01/19</span>
        </div>
    </div>
    <hr class="m-3">
</div>