<!-- your house share section -->
<!-- media/maintenance/no_image.jpg -->
<div class="row your-house justify-content-center">
    <div class="card col-11 p-0 mt-3 max-card">
        <div class=" card-top-color"></div>
        <div class="row m-0">
            <!-- image of house and address -->
            <div class="col-12 col-sm-4 col-md-3 mt-3 text-center">
                <img src="{{ userRental.image.url }}" class="rounded-circle img-fluid house-img" alt="Cinque Terre">
                <hr class="m-2">
                <p class="md-text">{{ userRental.address }}</p>
                <p class="md-text">{{ userRental.postcode}}, {{ userRental.city }}</p>
                <div class="col-12 m-2">
                    <p>Search email field</p>
                    <button class="btn btn-sm btn-success" href="">+ Add Tenant</button>
                </div>
            </div>
            <span><img src="static/imgs/line_shad.png" class="line-shadow d-none d-sm-block" alt=""></span>
            <!-- details of landlord and tenants -->
            <div class="col-12 col-sm-7 col-md-8 ten-lan-sect">
                <div class="float col-12 col-md-11">
                    <div class="col-12 p-1">
                        <h4 class="sm-heading">Landlord</h4>
                        <hr class="m-2">
                        <img src="{{ userLandlord.profile.profile_image.url}}" class="rounded-circle img-fluid landlord-img d-inline" alt="man">
                        <p class="d-inline m-2 md-text">{{ userLandlord.first_name }}&nbsp;{{ userLandlord.last_name }}</p>
                        <p class="d-inline m-2 md-text">{{ userLandlord.email }}</p>
                    </div>
                    <div class="col-12 p-0"><h4 class="sm-heading">Housemates</h4></div>
                    <hr class="m-2">
                    {% for tenant in userTenants %}
                        <div id="tenant-info" class="col-6 p-1">
                            <div id="tenant-img">
                                <img src="{{ tenant.profile_image.url }}" class="rounded-circle img-fluid landlord-img d-inline" alt="man">
                            </div>
                            <div class="tenant-name">
                                <p class="d-inline m-2 md-text">{{ tenant.user.first_name }}&nbsp;{{ tenant.user.last_name }}</p>
                                <p class="d-inline m-2 md-text">{{ tenant.user.email }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of your house share section -->
    