<!-- delete maintenance request modal -->

<div id="deleteMaintModal" class="modal">
    <div class="overlay"></div>
    <div class="modal-content remove-modal-content col-10 col-sm-5">
        <div class="col-12 text-left">
            <h2 class="lg-heading">Delete Maintenance Request</h2>
        </div>
        <hr class="m-1">
        <div class="col-12">
            <p class="md-text">
                Are you sure you want to remove this request?
            </p>
        </div>
        <hr class="m-1">
        <div class="row justify-content-end m-0">
            <button type="button" class="btn btn-md btn-secondary modal-close m-1">Close</button>
            <a id="delete-confirm" href="" type="button" class="btn btn-md btn-primary m-1">Confirm</a>                
        </div>
    </div>
</div>