{% extends 'base.html' %}

    {% block content %}
    <div class="container-fluid">
        <!-- checks if current user is registered and has a rental assigned to it -->
        {% if userRental %}
            {% include 'maintenance/_your_house.html' %}
        {% else %}
            {% include 'maintenance/_no_rental.html' %}
        {% endif %}
        <!-- oustanding maintenance list -->
        <div class="row justify-content-center">
            <div class="card col-11 mt-3 mb-3 max-card">
                <div class="row justify-content-center">
                    <div class="col-12 card-header">
                        <h4 class="sm-heading">Oustanding maintenance Requests</h4>
                    </div>
                    {% if userRental %}
                        {% include 'maintenance/_maint_list_item.html' %}
                    {% else %}
                        <div class="col-12 jumbotron text-center m-0">
                            <h1 class="lg-heading">You need a rental property to use this section</h1>
                            <p class="d-block md-text">You don't have a rental property associated with your account.</p>
                            <p class="d-block md-text">Either add a property or speak to your landlord.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
