{% extends 'base.html' %}

    {% block content %}
    <div class="container-fluid">
        <!-- checks if current user is registered and has a rental assigned to it -->
        {% if userRental %}
            {% include 'maintenance/_your_house.html' %}
        {% else %}
            {% include 'maintenance/_no_rental.html' %}
        {% endif %}
        <!-- oustanding maintenance list -->
        <div class="row justify-content-center">
            <div class="card col-11 mt-3 mb-3 max-card">
                <div class="row justify-content-center">
                    <div class="col-12 card-header">
                        <h4 class="sm-heading">Oustanding maintenance Requests</h4>
                    </div>
                    {% include 'maintenance/_maint_list_item.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
