{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-11 col-md-9 text-center">
            <div class="row justify-content-center">
                <div class="col-12 card-header text-left">Add Maintenance Request</div>

                <!-- create a maintenance request form -->
                <div class="col-11 col-sm-10 p-0">
                    <form action="{% url 'maint-create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row m-0 text-left">
                            <div class="col-12">{{ request_create_form.title|as_crispy_field }}</div>
                            <div class="col-12">{{ request_create_form.details|as_crispy_field }}</div>
                            <div class="col-12 col-sm-6">{{ request_create_form.priority|as_crispy_field }}</div>
                            <div class="col-12 col-sm-6">{{ request_create_form.image|as_crispy_field }}</div>     
                        </div>
                        <hr>
                        <div class="row justify-content-end m-2">
                            <button class="edit-confirm-btn btn btn-sm btn-outline-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- END: create a maintenance request form -->
                
            </div>
        </div>
    </div>
</div>



{% endblock %}