{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-11 col-md-9 mt-3 text-center max-card">
                <h3 class="md-heading m-1">Search Maintenance Requests</h3>
                <hr class="m-1">
                <div class="col-12">
                    FORM FIELDS AND SUBMIT
                </div>
            </div>
        </div>
        <!-- if user does/does not have a rental -->
        {% if maintenance_requests %}
            <div class="row justify-content-center mt-2">
                <div class="col-10 col-md-9 text-right">
                    <a href="{% url 'maint-create' %}" class="btn btn-sm btn-success">+ Add maintenance issue</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card max-card col-10 col-md-9 mt-3 mb-3">
                    <div class="row justify-content-center">
                        {% include 'maintenance/_maint_list_item.html' %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="card col-10 col-md-9 jumbotron mt-3 mb-3">
                <div class="col-12 text-center">
                    <h1 class="lg-heading">You need a rental property to use this section</h1>
                    <p class="d-block md-text">You don't have a rental property associated with your account.</p>
                    <p class="d-block md-text">Either add a property or speak to your landlord.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>



{% endblock %}