{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="max-card card col-11 col-lg-10 p-0">
            <div class="card-header">
                <h3 class="md-heading">Maintenance Request #{{ maint_request.id }}</h3>
            </div>

            <!-- toggle maintenance request/message tab -->
            <div class="row m-0 justify-content-center">
                <div class="text-center request-toggle">
                    <div id="request-toggle-switch"></div>    
                    <span id="detail-tab" class="request-toggle-item">
                        Details
                    </span>
                    <span id="messages-tab" class="request-toggle-item">
                        Messages
                    </span>                    
                </div>
            </div>
            <!-- END: toggle maintenance request/message tab -->

            <hr class="m-1">

            <!-- maint request detail view -->
            <div id="detail-view" class="row justify-content-center m-0">
                {% include 'maintenance/request_detail.html' %}
            </div>
            <!-- END: maint request detail view -->

            <!-- maint request message view -->
            <div id="message-view" class="row justify-content-center">
                {% include 'chat/request_messages.html' %}
            </div>
            <!-- END: maint request message view -->
            
        </div>
    </div>
</div>

{% endblock %}