{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-fluid">
        <!-- if user has a rental assigned -->
        {% if request.user.profile.rental %}
        <div class="row justify-content-center">
            <div class="card col-11 mt-3 max-card">
                <div class="row">
                    <div class="col-12 card-header p-2">
                        <h3 class="md-heading m-1">Search Maintenance Requests</h3>
                    </div>
                    <hr class="m-1">
                    <!-- maint request search form -->
                    <div class="col-12">
                        <form id="maint-search-form" class="row mb-2 justify-content-center" method="get">
                            <div class="col-12">{{ maint_filter.form.title__icontains|as_crispy_field }}</div>
                            <div class="col-6 col-sm-3">{{ maint_filter.form.priority|as_crispy_field }}</div>
                            <div class="col-6 col-sm-3">{{ maint_filter.form.status|as_crispy_field }}</div>
                            <div class="col-6 col-sm-3">{{ maint_filter.form.paid_by|as_crispy_field }}</div>                                         
                            <div class="col-12">
                                <div class="row justify-content-between mb-2">
                                    <div class="col-6 mt-3">
                                        <button class="btn btn-md btn-info" type="submit">Search</button>
                                        {% if total > maint_filter.qs.count  %}
                                        <a href="{% url 'maint-list' %}" class="btn btn-md btn-outline-info mt-2 mt-sm-0">Clear Filters</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-5 col-sm-3 mt-3">
                                            {{ maint_filter.form.ordering|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END: maint request search form -->
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-9 text-right">
                <a href="{% url 'maint-create' %}" class="btn btn-sm btn-success">+ Add maintenance issue</a>
            </div>
        </div>
        {% endif %}

        <!-- if user rental has maintenance requests -->
        {% if requests %}
        <div class="row justify-content-center">
            <div class="card max-card col-11 max-card mt-3 mb-3">
                <div class="row justify-content-center">
                    {% include 'maintenance/maint_list_item.html' %}
                </div>
                <!-- pagination -->
                <div class="row justify-content-center mb-2">
                    <span class="step-links">
                        {% if requests.has_previous %}
                        <a href="?page=1" class="btn btn-md btn-outline-info">&Lang;</a>
                        <a href="?page={{ requests.previous_page_number }}" class="btn btn-md btn-outline-info">&lang;</a>
                        {% endif %}
                    
                        <span class="current">
                            <a href="?page= {{ requests.number }}" class="btn btn-md btn-info">{{ requests.number }}</a>
                        </span>
                    
                        {% if requests.has_next %}
                        <a href="?page={{ requests.next_page_number }}" class="btn btn-md btn-outline-info">&rang;</a>
                        <a href="?page={{ requests.paginator.num_pages }}" class="btn btn-md btn-outline-info">&Rang;</a>
                        {% endif %}
                    </span>
                </div>
                <!-- END: pagination -->
            </div>
        </div>
        <!-- if no maintenance requests assigned to rental -->
        {% else %}
        <div class="row justify-content-center">
            <div class="card col-11 max-card mt-3 mb-3">
                <div class="col-12 text-center">
                    <p class="md-text m-2">- No maintenance issues for this property -</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}