{% load static %}

<!-- your house share section -->
<!-- media/maintenance/no_image.jpg -->
<div class="row your-house justify-content-center">
    <div class="card col-11 p-0 max-card">
        <div class=" card-top-color"></div>
        <div class="row m-0">
            <!-- image of house and address -->
            <div class="col-12 col-sm-4 col-md-3 mt-3 text-center">
                <img src="{{ userRental.image.url }}" class="rounded-circle img-fluid house-img" alt="Cinque Terre">
                <hr class="m-2">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p id="rental-id" hidden>{{ userRental.id }}</p>
                        <p class="lg-text">{{ userRental.address.title }}</p>
                        <p class="lg-text">{{ userRental.postcode|upper }}, {{ userRental.city.title }}</p>            
                    </div>
                </div>
                {% if request.user == userLandlord %}
                <div class="row justify-content-center mb-2">
                    <div class="col-10 mt-2 mb-1">
                        <p class="md-text m-0">Occupancy: {{ userTenants.count }}/{{ userRental.no_of_tenants }}</p>
                    </div>
                    {% if userTenants.count != userRental.no_of_tenants %}
                    <div class="col-10">
                        <button id="add-tenant-btn" class="btn btn-sm btn-success modal-open" data-modal="addModal">+ Add Tenant</button>
                    </div>
                    {% include 'users/add_tenant.html' %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <span><img src="{% static 'imgs/line_shad.png' %}" class="line-shadow d-none d-sm-block" alt=""></span>
            <!-- details of landlord and tenants -->
            <div class="col-12 col-sm-7 col-md-8 ten-lan-sect mb-3">
                <div class="float col-12 col-md-11">
                    <div class="row justify-content-center">
                        <div class="col-12 p-1">
                            <h4 class="sm-heading bold">The Landlord</h4>
                            <hr class="m-2">
                        </div>
                        {% if userLandlord %}
                        <div class="col-12 col-md-10 text-center text-md-left m-2">
                            <span>
                                <img src="{{ userLandlord.profile.profile_image.url}}" class="rounded-circle img-fluid landlord-img d-inline" alt="man">
                            </span>
                            <span class="tenant-name d-inline-block align-middle ml-2 mt-2">
                                <p class="d-sm-block m-0 md-text">{{ userLandlord.first_name }}&nbsp;{{ userLandlord.last_name }}</p>
                                <p class="d-cm-block m-0 md-text">{{ userLandlord.email }}</p>        
                            </span>
                        </div>
                        {% else %}
                            <div class="col-5 col-sm-5 text-center">
                                <p class="md-text m-2">- No landlord currently added -</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 p-1">
                            <h4 class="sm-heading bold">The Housemates</h4>
                            <hr class="m-2">                    
                        </div>
                        {% if userTenants %}
                            {% for tenant in userTenants %}
                            <div class="col-5 col-sm-3 col-lg-2 text-center p-2">
                                <div id="tenant-img">
                                    <span>
                                        <img src="{{ tenant.profile_image.url }}" class="rounded-circle img-fluid landlord-img d-inline" alt="man">
                                        {% if request.user == userLandlord %}
                                        <i id="delete-tenant-btn" class="fas fa-times-circle modal-open" data-rent-id="{{ userRental.id }}" data-ten-id="{{ tenant.user.id }}">
                                        </i>
                                        {% endif %}
                                        
                                       
                                    </span>
                                    <span id="tenant-name" class="tenant-name d-inline-block align-middle m-2">
                                        <p id="ten-first" class="m-0 md-text">{{ tenant.user.first_name }}</p>
                                        <p id="ten-last" class="m-0 md-text">{{ tenant.user.last_name }}</p>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-10 text-center">
                                <p class="md-text m-2">- No tenants currently added -</p>
                                <p class="md-text">Once you've found a tenant, get them to create an account with us
                                                    and then add them by their username.
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of your house share section -->
    